
h2{
    background-color: #5eeb5e;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color:#266421;
}